@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  background-color: #ECF0F3;
  color: #333;
  margin: 0;
  padding: 0;
}



.scrollbar-blue::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-blue::-webkit-scrollbar-thumb {
  background-color: #1D4ED8; /* Azul Tailwind */
  border-radius: 9999px; /* Faz com que a barra de rolagem seja redonda */
}

.scrollbar-blue::-webkit-scrollbar-track {
  background-color: #BFDBFE; /* Cor do fundo da barra de rolagem */
}




.anima{
  animation: anime .5s ease-in-out;
}

@keyframes anime {
  from{
    transform: translate3d(0,-100px,0);
    opacity: 0;
    visibility: hidden;
  }
  to{
    transform: translate3d(0,0,0);
    opacity: 1;
    visibility: visible;
  }
}


.animaLeft{
  animation: animaLeft .5s ease-in-out;
}

@keyframes animaLeft {
  from{
    transform: translate3d(100px,0,0);

  }
  to{
    transform: translate3d(0,0,0);

  }
}

.animaRight{
  animation: animaRight .5s ease-in-out;
}

@keyframes animaRight{
  from{
    transform: translate3d(-100px,0,0);

  }
  to{
    transform: translate3d(0,0,0);

  }
}


.animaMenu{
  animation: animaMenu .2s ease-in;
}


@keyframes animaMenu {
  from{
    width: 0px;
    visibility: hidden;
    overflow: hidden;
    opacity: 0;
  }
  to{
    width: 120px;
    visibility: visible;
    overflow: auto;
    opacity: 1;
  }
}

.hamb{
  content: "";
  border-top: 3px solid#7D7F83;
  width: 25px;
  display: block;
  position: relative;
  margin-top: 2px;
  transition: .3s ease-in-out;
 
}

.hamb::before,.hamb::after{
  content: "";
  width: 25px;
  margin-top: 6px;
  height: 3px;
  display: block;
  background-color:#7D7F83;
  transition: .3s ease-in-out;
}

.hamb.ativo{
  border-top-color: transparent;
}

.hamb.ativo::before{
  transform: rotate(135deg);
}

.hamb.ativo::after{
  transform: rotate(-135deg);
  margin-top: -3px;
}